<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954338454063-g6rekovgem63o7mcdv84l219rd7jegme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954338454063-g6rekovgem63o7mcdv84l219rd7jegme</string>
	<key>API_KEY</key>
	<string>AIzaSyBu7CulT2oVRbMDruDlzVm9GuFotbdQgeI</string>
	<key>GCM_SENDER_ID</key>
	<string>954338454063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solicitacao</string>
	<key>PROJECT_ID</key>
	<string>solicitacao-b8af8</string>
	<key>STORAGE_BUCKET</key>
	<string>solicitacao-b8af8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954338454063:ios:4ac30b1b1cc884a72b74da</string>
</dict>
</plist>